extends layout
block meta
	meta(name="keywords", content="viaje, car pooling, seguridad")

block content
	h1 Gente que se quedo sin viajar 
	div(ng-app="me-quede-sin-viajar",class="")
		div(class="row")
			div(class="eight columns")
				div(class="row")
				h2 Ayudemos a 
					strong #{stats.maxCount} 
					span personas a llegar a su casa
			div(class="twelve columns")
				div(class="row")
					each company in companies
						h3 La empresa 
							strong #{company._id} 
							span dejo a 
							strong #{company.count} 
							span personas
	div(class="four columns")
		div(class="row")
			h2 La hora con mas inconvenientes es 
				strong #{dayStats.hour} 
				span con 
				strong #{dayStats.count} 
				span perdidas

block scripts
